@font-face {
    font-family: "WorkSans";
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "WorkSans_Italic";
    src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: "WorkSans";
    display: flex;
    flex-direction: column;
}

header * {
    display: inline;
    color: hsl(292, 42%, 14%);
    font-size: 36px;
}

.faq-question {
    color: hsl(292, 42%, 14%);
    font-size: 16px;
    display: flex;
}

.faq-answer {
    display: none;
    color: hsl(292, 16%, 49%);
    font-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}