@font-face {
    font-family: "Figtree";
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Figtree_Italic";
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree";
    color: hsl(0, 0%, 7%);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border: 2px solid hsl(0, 0%, 7%);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    box-shadow: 6px 6px 0 hsl(0, 0%, 0%);
    height: fit-content;
    width: 100%;
    max-width: 350px;
}

.hero {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.post-topic {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
}

.post-published {
    font-size: 14px;
}

.post-title {
    color: black;
    text-decoration: none;
}

.post-title:hover {
    color: hsl(47, 88%, 63%)
}

.post-summary {
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}

.author-info {
    display: flex;
    align-items: center;
}

.author-avatar {
    height: 40px;
}

.author {
    font-weight: bold;
    margin-left: 8px;
}

.attribution {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}